<header class="header-page">
    
    <div class="header-container container">

<a class="header__logo" href="/index.html">Lloyd<span class="logo-green">jefferson.</span></a>    

<label for="switch" class="switch">
<input type="checkbox" name="switch" id="switch">
<span class="slider round"></span>
</label>

<nav class="header__nav">
  <ul class="menu__list">
 <li class="menu__item">
    <a class="menu__link js-menu__link" href="#about-me">
        About me
    </a>
</li>
 <li class="menu__item">
    <a class="menu__link js-menu__link" href="#project">
        Projects
    </a>
</li>
 <li class="menu__item">
    <a class="menu__link js-menu__link" href="#work-together">
        Contacts
    </a>
</li>

  </ul>  
</nav>
<div class="hamburger-menu">
    <button type="button" class="hamburger-menu-button">
       
            <svg class="icon-bar"
            width="22"
            height="14"
            viewBox="0 0 32 32" fill="#292929" 
            >
            <use href="../img/symbol-defs.svg#icon-Burger_btn"></use>
            
            </svg>
           
     
    </button>
</div>
</div>

<div class="mobile-menu ">

<div class="mod-win-head">
    <a class="header__logo" href="/index.html">Lloyd<span class="logo-green">jefferson.</span></a>    
           
               <button type="button" class="mobile-menu__close">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 8L8 24" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 8L24 24" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
        </button>
   
</div>
   <div class="mobile-drop-list">
    <nav class="header__nav modal-header__nav">
        <ul class="menu__list">
       <li class="menu__item">
          <a class="menu__link js-menu__link" href="#about-me">
              About me
          </a>
      </li>
       <li class="menu__item">
          <a class="menu__link js-menu__link" href="#project">
              Projects
          </a>
      </li>
       <li class="menu__item">
          <a class="menu__link js-menu__link" href="#contacts">
              Contacts
          </a>
      </li>
  
        </ul>  
      </nav>
   </div> 
</div>

</header>
