<header class="header-page">
    <div class="container">
        <div class="header-container">
   
<a class="header__logo" href="/index.html">Lloyd<span class="logo-green">jefferson.</span></a>    
    
    <div class="light-dark-changer"></div>
    <nav class="header__nav">
      <ul class="menu__list">
     <li class="menu__item">
        <a class="menu__link js-menu__link" href="#about-me">
            About me
        </a>
    </li>
     <li class="menu__item">
        <a class="menu__link js-menu__link" href="#project">
            Projects
        </a>
    </li>
     <li class="menu__item">
        <a class="menu__link js-menu__link" href="#contacts">
            Contacts
        </a>
    </li>

      </ul>  
    </nav>
    <div class="hamburger-menu">
        <button type="button" class="hamburger-menu-button">
           
                <svg class="icon-bar"
                width="22"
                height="14"
                viewBox="0 0 32 32" fill="#292929"
                >
                 <use href="../img/symbol-defs.svg#icon-Burger_btn"></use>   
                </svg>
              
         
        </button>
    </div>
</div>
</div>

</header>
<div class="mobile-menu">
    <div class="mobile-menu-window">
        <div class="header-container">
        
            
                <a class="header__logo" href="/index.html">Lloyd<span class="logo-green">jefferson.</span></a>    
                    
            <button type="button" class="mobile-menu__close">X
                           
            </button>
        </div>
        <nav class="header__nav modal-header__nav">
            <ul class="menu__list">
           <li class="menu__item">
              <a class="menu__link js-menu__link" href="#about-me">
                  About me
              </a>
          </li>
           <li class="menu__item">
              <a class="menu__link js-menu__link" href="#project">
                  Projects
              </a>
          </li>
           <li class="menu__item">
              <a class="menu__link js-menu__link" href="#contacts">
                  Contacts
              </a>
          </li>
      
            </ul>  
          </nav>
</div>
</div>
