<header class="header-page">
    <div class="container">
        <div class="header-container">
    <div class="header__logo">
<p class="header__logo">Lloyd<span class="logo-green">jefferson.</span></p>    
    </div>
    <div class="light-dark-changer"></div>
    <nav class="header__nav">
      <ul class="menu__list">
     <li class="menu__item">
        <a class="menu__link" href="#">
            About me
        </a>
    </li>
     <li class="menu__item">
        <a class="menu__link" href="#">
            Projects
        </a>
    </li>
     <li class="menu__item">
        <a class="menu__link" href="#">
            Contacts
        </a>
    </li>
<!-- //example// -->

      </ul>  
    </nav>
    <div class="hamburger-menu">
        <button type="button" class="hamburger-menu-button">
           
                <svg class="icon-bar"
                width="22"
                height="14"
                viewBox="0 0 32 32" fill="#292929"
                >
                 <use href="../img/symbol-defs.svg#icon-Burger_btn"></use>   
                </svg>
              
         
        </button>
    </div>
</div>
</div>
<div class="header-bottom container">
    <ul class="header-bottom-list">
        <li class="header-bottom__item"><a href="#">Instagram</a></li>
        <li class="header-bottom__item"><a href="#">Facebook</a></li>
        <li class="header-bottom__item"><a href="#">Linkedin</a></li>
        <li class="header-bottom__item"><a href="#">GitHub</a></li>
    </ul>
</div>
</header>
