:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body,
h3,
p,
a,
button {
  font-family: var(--font-family)
}

h1,
h2 {
  font-family: var(--second-family);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
