:root {
  --text-color: var(--white);
  --accent-color: var(--accent-green-dt);
  --main-background: var(--black-dt);
  --second-background: var(--accent-green-dt);
  --third-background: var(--charcoal-dt);
  --btn-hero-background: var(--hover-green);
  --btn-hero-hover: var(--accent-green-dt);
  --second-hover: var(--hover-green-dt);
  --third-hover: var(--hover-grey-dt);
  --fill-icon: var(--accent-green-dt);
  --icon-background: var(--dark-accent-dt);
  --border-footer: var(--white);
  --switch-background: var(--black);
  --switch-color: var(--accent-green);
  --accordeon-background: var(--dark-accent-dt);
  --tech-skills-background: var(--dark-accent-dt);
  --tech-skills-color: var(--accent-green-dt);
  --point-tech-skill: var(--accent-green-dt);
}
.hero-container {
  background-image: url(/img/decor-dark/decor_hero_mobile.png);
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(/img/decor-dark/decor_hero_mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: url(/img/decor-dark/decor_hero_tablet.png);
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(/img/decor-dark/decor_hero_tablet@2x.png);
    }
  }
  .work-together-container {
    background-image: url(/img/decor-dark/decor_work_tablet.png);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .work-together-container {
      background-image: url(/img/decor/decor_work_tablet@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    background-image: url(/img/decor-dark/decor_hero_desktop.png);
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(/img/decor-dark/decor_hero_desktop@2x.png);
    }
  }

  .about-content {
    background-image: url(/img/decor-dark/decor_about_desktop.png);
  }
  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .about-content {
      background-image: url(/img/decor-dark/decor_about_desktop@2x.png);
    }
  }
  .benefits-container {
    background-image: url(/img/decor-dark/decor_benefits_desktop.png);
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .benefits-container {
      background-image: url(/img/decor-dark/decor_benefits_desktop@2x.png);
    }
  }

  .faq-decor {
    background-image: url(/img/decor/decor_faq_desktop.png);
    background-repeat: no-repeat;
    background-position: 50% 87%;
    background-size: contain;
  }
  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .faq-decor {
      background-image: url(/img/decor/decor_faq_desktop@2x.png);
    }
  }
  .work-together-container {
    background-image: url(/img/decor/decor_work_desktop.png);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .work-together-container {
      background-image: url(/img/decor/decor_work_desktop@2x.png);
    }
  }
}
