
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    padding: 36px 20px;
width: 100%;
height: 64px;
}
.header__logo {
    text-transform: uppercase;
    font-family: "Impact", sans-serif;
font-weight: 400;
font-size: 32px;
}
.logo-green {
    color: #00b068; 
}
.menu__link {
    color: inherit;
    text-decoration: none;
}
.header__nav {
    display: none;
    list-style-type: none;
}
.hamburger-menu {
    margin-left: auto;
}
.hamburger-menu-button {
    
    border: none;
}

.header-bottom__item {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
color: #292929;
    cursor: pointer;
}

.modal-header__nav {
    margin-top: 276px;
    display: flex; 
    text-align: center; 
    justify-content: center; 
}
.menu__list {
    display: flex;
align-items: center;
flex-direction: column;
gap: 24px;
width: 82px;
height: 120px;
 
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    transition: transform 0.9s ease-in-out;
  }
  
  .mobile-menu.active {
    display: flex;
  
    align-items: center;
    transform: translateX(0);
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 24px;
}
   
   
   
  